<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36341333468-n43s9rt8hak1ov5s1vg1oamr7sucdf3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36341333468-n43s9rt8hak1ov5s1vg1oamr7sucdf3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAwHA0Ag5ydVQrAd04QtCDIWJOrIrJD_xM</string>
	<key>GCM_SENDER_ID</key>
	<string>36341333468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps.mcsmart</string>
	<key>PROJECT_ID</key>
	<string>mcsmart-c1013</string>
	<key>STORAGE_BUCKET</key>
	<string>mcsmart-c1013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36341333468:ios:1dee2cae9894678195e319</string>
</dict>
</plist>